.location-page {
	background-color: darken($primary-color-light, 11);
	@include linear-gradient(190deg, lighten($primary-color-light, 11), $primary-color);
	margin-top: 1em;
	padding-top: .5em;
	
	@include media($mediumish) {
		@include span-columns(7);
		@include shift(2.5);
	}

	@include media($largish) {
		@include span-columns(6);
		@include shift(3);
	}
	h1 {
		font-size: 1.5em;
		color: $secondary-color;
		text-align:center;

		@include media($largish) {
			font-size: 2.2em;
		}

		@include media($largish) {
			font-size: 2.7em;
		}
	}

	h2 {
		color: $secondary-color;
		text-align:center;
	}

	.comment-form {
		background-color: lighten($light-gray, 7);
		box-shadow: 0px 2px 2px 2px $light-gray;
		padding: 2em;
		border-radius: 7px;
		margin-bottom: .5em;

		@include media ($mediumish) {
			margin-right: 2em;
			margin-left: 2em;
		}

		@include media ($largish) {
			margin-right: 6em;
			margin-left: 6em;
			margin-bottom: 1em;
		}
	}
}

.comment-display {
	@extend .comment-form;
}

.location-form {
	
	padding-right: 3em;
	padding-left: 3em;
	margin-bottom: 4em;
}

.city-input {
	
	display:block;
	text-align:center;
}

.state-input {
	display:block;
	text-align:center;
}

.submit {
	text-align:center;
}
