body {
	background: $white;
	@include background-image(url("/images/tile4light.jpg"));
	background-position: center, center;
	background-repeat: repeat;
}

p {
	color: $mauve;
}

.wrapper {
	@include outer-container;
}

.hide {
	display: none;
}

.invisible {
	visibility: hidden;
}

.inline {
	display: inline;
}

.api-result {

	height: 250px;
	
	background-color: $primary-color-dark;
}