<footer>
	<h5> Talk to Natalya Shelburne about the weather</h5>
	<hr>

	<a href="http://www.artist-developer.com"> 
		<img class="link-icons" src ="/images/icon-rabbit-gray.png">
	</a>

	<a href="http://www.twitter.com/natalyathree"> 
		<img class="link-icons" src ="/images/icon-twitter-gray.png">
	</a>

	<a href="https://github.com/tallys"> 
		<img class="link-icons" src ="/images/icon-github-gray.png">
	</a>
</footer>